<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Jeffrey. all rights reserved</span>
        </div>
    </div>
</footer>
